<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/mvc">

<head>
<title>MyPlayApp | Search</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script
	src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js'></script>

<link
	href="  https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


</head>

<body style="background-image: url('./img/background.jpg');">



	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<!-- Brand/logo -->
		<a class="navbar-brand" href="#"> <img src="./img/Musix.jpg"
			alt="logo" width="80px" height='80px'>
		</a>

		<!-- Links -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link"
				href="../"><h4>
						<font color=white>Musix App</font>
					</h4></a></li>
		</ul>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<center>
			<nav
				class="navbar navbar-center navbar-expand-sm bg-dark navbar-dark">
				<form class="form-inline" action="./results">

					<select class="form-control" id="filter" name="method" required>
						<option value="" selected=true>Apply Filter</option>

						<option value="artist">Artists</option>
						<option value="track">Track</option>

					</select> &nbsp;&nbsp; <input class="form-control mr-sm-2" type="text"
						size=50 placeholder="Search" name="query" required>
					<button class="btn btn-success" type="submit" id="saerch_button">Search</button>
				</form>
			</nav>
		</center>

		<div id="checked_login"></div>


	</nav>



	<br>
	<br>
	<center>
		<h2>
			<font color=white><b>Search Results</b></font>
		</h2>
	</center>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-3">
			<font color=white><b>Page Number</b></font>

		</div>
		<div class="col-sm-3">
			<font color=white><b>Items Per Page</b></font>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-3">
			<select class="form-control" id="page_number" name="method"
				onchange="getSearchResults()">
				<option value="" selected=true>Page Number</option>



			</select>
		</div>
		<div class="col-sm-3">
			<select class="form-control" id="items" name="method"
				onchange="getSearchResults()">
				<option value="30" selected=true>30</option>
				<option value="100">100</option>
				<option value="250">100</option>
				<option value="500">500</option>
			</select>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<br>

	<div class="container-fluid">
		<div class="row" style="margin-top: 0px" id="search_results"></div>
	</div>






	<style>
.navbar-nav.navbar-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
}

.track-name {
	font: italic small-caps bold 15px/30px Georgia, serif;
	color: balck;
}

.artist-name {
	font: italic small-caps bold 15px/30px Georgia, serif;
}
</style>

	<script>
		function checkURIParam(name) {
			var results = new RegExp('[\?&]' + name + '=([^&#]*)')
					.exec(window.location.href);
			return results[1] || 0;
		}

		function getSearchResults() {
			$("#search_results").html("<center><h4><font color=red>Loading ...... </b> <font></h4></center>");
			
			var method = checkURIParam("method");
			var query = checkURIParam("query");
			var page=$("#page_number").val();
			if(page==null || page==""){
				page=1;
			}
			var item_count=$("#items").val();
			$
					.ajax({
						type : 'GET',
						url : "http://ws.audioscrobbler.com/2.0/?method="
								+ method
								+ "\.search&"
								+ method
								+ "="
								+ query
								+ "&api_key=96d3b104aaebc0457c0b1147de085f1d&format=json&limit="+item_count+"&page="+page,

						success : function(jsonData) {

							if (jsonData.hasOwnProperty("results")) {

								
								
								
								var artists = jsonData["results"];
								
								var page_count=artists["opensearch:totalResults"]/artists["opensearch:itemsPerPage"];
								for(j=1;j<=page_count;j++){
				                    $('#page_number').append('<option>'+j+'</option>');
				                }
								var ArtistsHTML = "";
								var k = 0;
								if(method=="artist"){
								$
										.each(
												artists["artistmatches"]["artist"],
												function(index, artist) {
													k++;
													var artist_name = artist.name;
													var img = artist.image[1]["#text"];
													artist_name=artist_name.slice(0, 30);
													var track = "";
													ArtistsHTML += '<div class="col-sm-2 mt-3 d-flex align-items-stretch"><div class="card shadow-xl rounded" style="box-shadow: 0 0 9px 0px black;width:100%"><div class="card-body bg-gray" style="padding-bottom: 0px !important"><center><div class="track-name" id="track_'+k+'">'
															+ track
															+ '</div><img src="'+img+'" class="img-thumbnail v" id="img_'+k+'"><div class="artist-name" id="artist_'+k+'">'
															+ artist_name
															+ '</div></center><div class="pretty p-switch p-slim p-primary"><input onchange="addToRecommend('+k+',\'f\')" id="fav_btn_'+k+'" type="checkbox" /><div class="state"><label>Fav</label></div></div><br><br><div class="pretty p-default p-curve p-toggle"><input id="rec_btn_'+k+'" onchange="addToRecommend('+k+',\'r\')" type="checkbox" /><div class="state p-success p-on"><label>UnRecommend</label></div><div class="state p-danger p-off"><label>Recommend </label></div></div><br></div></div></div>';

												});
								}else{
									$
									.each(
											artists["trackmatches"]["track"],
											function(index, track) {
												k++;
												var artist_name = track.artist;
												artist_name=artist_name.slice(0, 30);
												var img = track.image[1]["#text"];
												var track =track.name;
												track=track.slice(0, 30);
												ArtistsHTML += '<div class="col-sm-2 mt-3 d-flex align-items-stretch" ><div class="card shadow-xl rounded" style="box-shadow: 0 0 9px 0px black;width:100%"><div class="card-body bg-gray" style="padding-bottom: 0px !important"><center><div class="track-name" id="track_'+k+'">'
												+ track
												+ '</div><img src="'+img+'" class="img-thumbnail v" id="img_'+k+'"><div class="artist-name" id="artist_'+k+'">'
												+ artist_name
												+ '</div></center><div class="pretty p-switch p-slim p-primary"><input onchange="addToRecommend('+k+',\'f\')" id="fav_btn_'+k+'" type="checkbox" /><div class="state"><label>Fav</label></div></div><br><br><div class="pretty p-default p-curve p-toggle"><input id="rec_btn_'+k+'" onchange="addToRecommend('+k+',\'r\')" type="checkbox" /><div class="state p-success p-on"><label>UnRecommend</label></div><div class="state p-danger p-off"><label>Recommend </label></div></div><br></div></div></div>';

			});
								}
								$("#search_results").html(ArtistsHTML);
								if(k==0){
									$("#search_results").html("<center> <font color=red><b> NO RESULTS FOUND</b> <font></center>");
									
								}
								
							}else{
								$("#search_results").html("<center> <font color=red><b> NO RESULTS FOUND</b> <font></center>");
							}
						}
					});

		}

		function checkUser() {
			$
					.ajax({
						type : "GET",
						url : "./GetUser",
						success : function(response) {

							if (!response.hasOwnProperty("Email")) {

								$("#checked_login")
										.html(
												"<ul class='navbar-nav' style='margin-left: auto;'><li class='nav-item'><a class='nav-link btn btn-info' href='./register'><font color=white><b>Sign Up</b></font></a></li> &nbsp;&nbsp;&nbsp;<li class='nav-item'><a class='nav-link btn btn-info' href='./login'><font color=white><b>Login</b></font></a></li></ul>");

							} else {
								$("#checked_login")
										.html(
												"<ul class='navbar-nav' style='margin-left: auto;'><li class='nav-item'><a class='nav-link btn btn-info' href=\"./MyMusic\"><font color=white><b>My Music Board</b></font></a></li> &nbsp;&nbsp;&nbsp;<li class='nav-item'><a class='nav-link ' href='./logout'><font color=white><b>LogOut</b></font></a></li>&nbsp;&nbsp;&nbsp;<a class='navbar-item' href='./profile'><li><span id='user_name'> <font size=6 color=red><b>"
														+ response["UserName"]
														+ "</b></font></span></li><li class='nav-item'><img  id='user_img' src='./img/"+response["img"]+"' alt='log' width='40px' height='40px'></a></li></ul>");
							}
						},
						error : function(data) {
							$("#checked_login")
									.html(
											"<ul class='navbar-nav' style='margin-left: auto;'><li class='nav-item'><a class='nav-link btn btn-info' href='./register'><font color=white><b>Sign Up</b></font></a></li> &nbsp;&nbsp;&nbsp;<li class='nav-item'><a class='nav-link btn btn-info' href='./login'><font color=white><b>Login</b></font></a></li></ul>");

						}
					});

		}
		
		
		function addToRecommend(id,stype){
			
			
			var reqType="";
			var endPoint="";
			var action_type="";
			if(stype=="f"){
				if($("#fav_btn_"+id).is(":checked")){
					reqType="POST";
					endPoint="./AddToFavourite";
				}else{
					reqType="DELETE";
					endPoint="./deleteFavourite";
				}
				
			}else if(stype=="r"){
				if($("#rec_btn_"+id).is(":checked")){
					reqType="POST";
					endPoint="./AddToRecommend";
				}else{
					reqType="DELETE";
				endPoint="./deleteRecommendation";
				}
				
			}
			
			var trackName=$("#track_"+id).html();
			var artist=$("#artist_"+id).html();
			var img=$('#img_'+id).attr('src');
			$.ajax({
		        type:reqType,
		        url:endPoint,
		        data:{"trackName":trackName,"artist":artist,"img":img},
		        success:function(response){
		        			if(response.hasOwnProperty("Error")){
		        				alert("Please login to save recommendations / favourites");
		        			}
				
		       },
		        error:function(data){
		            $("#error").html("<font color=red>Try after some  time</font>");
		       }
		   });
		}
		
		
		
		checkUser();
		getSearchResults();
	</script>
</body>
</html>